# EditorConfig - https://editorconfig.org
root = true

# All files
[*]
indent_style = tab
indent_size = 4
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true

# C/C++ source files
[*.{cpp,h,hpp,c,inl}]
charset = utf-8-bom

# Solution and project files
[*.{sln,vcxproj,vcxproj.filters}]
charset = utf-8-bom
